*{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background: #000000;
    margin: 0;
    display: flex;
}

#particle-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.particle {
    position: absolute;
    border-radius: 50%;
}
.gradientBg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(210deg, #fcf2013d, #f7883c1f);
}

.linkHolder{
    position: absolute;
    z-index: 99999;
    background: #ffffff38;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    border: 2px solid #fff;
    backdrop-filter: blur(3px);
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    text-decoration: none;
    font-weight: 100;
    flex-flow: column;
    transition: 300ms ease-in-out;
}

.linkHolder>p{
    margin: 0;
    margin-bottom: 10px;
}

.linkHolder:hover{
    transform: translate(-50%, -50%) scale(1.1);
    transition: 300ms ease-in-out;
}